/* FONT FACE */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./fonts/plus-jakarta-sans/PlusJakartaSansExtraBold.woff2")
      format("woff2"),
    url("./fonts/plus-jakarta-sans/PlusJakartaSansExtraBold.woff")
      format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./fonts/plus-jakarta-sans/PlusJakartaSansBold.woff2")
      format("woff2"),
    url("./fonts/plus-jakarta-sans/PlusJakartaSansBold.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./fonts/plus-jakarta-sans/PlusJakartaSansMedium.woff2")
      format("woff2"),
    url("./fonts/plus-jakarta-sans/PlusJakartaSansMedium.woff") format("woff");
}
/* ROOT */
:root {
  --clr-primary-600: hsl(233, 54%, 16%);

  --clr-accent-900: hsl(341, 92%, 62%);
  --clr-accent-400: hsl(341, 100%, 83%);

  --clr--neutral-600: hsl(234, 25%, 52%);
  --clr--neutral-400: hsl(232, 10%, 56%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-linear-900: linear-gradient(
    180deg,
    hsl(237, 100%, 64%) 0%,
    hsl(322, 87%, 55%) 100%
  );

  --clr-linear-400: linear-gradient(
    180deg,
    hsl(13, 100%, 64%) 0%,
    hsl(322, 87%, 55%) 100%
  );

  --clr-linear-300: linear-gradient(
    180deg,
    hsl(100, 100%, 100%) 0%,
    hsl(234, 100%, 97%) 100%
  );

  --clr-linear-100: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );

  --ff-primary: "Plus Jakarta Sans", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-medium: 500;

  --fs-100: 0.125rem;
  --fs-200: 1.25rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;

  --fs-button: var(--fs-300);
  --fs-heading-primary: var(--fs-700);
  --fs-heading-secondary: var(--fs-500);
  --fs-heading-accent: var(--fs-200);
  --fs-link: var(--fs-400);
  --fs-body: var(--fs-300);

  --size-100: 1rem;
  --size-200: 1.5rem;
  --size-300: 1.625rem;
  --size-400: 2.25rem;
  --size-500: 2.375rem;
  --size-600: 2.875rem;
  --size-700: 4.125rem;
  --size-800: 5rem;

  --card-size-500: 1.5rem;
  --card-size-400: 3.5rem;
  --card-size-300: 2rem;
  --card-size-200: 2rem;
  --card-size-100: 1.313rem;

  --width: 2143.75ch;
}

@media (min-width: 48em) {
  :root {
    --size-100: 1.5rem;
    --size-300: 1.563rem;
    --size-500: 6.188rem;
    --size-700: 5.813rem;
    --size-800: 5.375rem;

    --card-size: 3.5rem;

    --width: 2487.5ch;
  }
}

@media (min-width: 75em) {
  :root {
    --fs-button: var(--fs-400);
    --fs-heading-primary: var(--fs-900);
    --fs-heading-secondary: var(--fs-600);
    --fs-heading-accent: var(--fs-500);
    --fs-body: var(--fs-400);
    --fs-300: 1.125rem;

    --size-200: 2.5rem;
    --size-300: 1.813rem;
    --size-400: 2rem;
    --size-500: 10.313rem;
    --size-700: 2.875rem;
    --size-800: 8.75rem;

    --card-size-400: 4rem;
    --card-size-300: 2.5rem;

    --width: 2781.25ch;
  }
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* UTILITIY CLASSES */
.text-primary-600 {
  color: var(--clr-primary-600);
}
.text-accent-900 {
  color: var(--clr-accent-900);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-neutral-600 {
  color: var(--clr-neutral-600);
}
.text-neutral-400 {
  color: var(--clr-neutral-400);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.bg-primiry-600 {
  background-color: var(--clr-primary-600);
}
.bg-accent-900 {
  background-color: var(--clr-accent-900);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-neutral-600 {
  background-color: var(--clr-neutral-600);
}
.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-linear-900 {
  background: var(--clr-linear-900);
}
.bg-linear-400 {
  background: var(--clr-linear-400);
}
.bg-linear-300 {
  background: var(--clr-linear-300);
}
.bg-linear-100 {
  background: var(--clr-linear-100);
}

.fw-extra-bold {
  font-weight: var(--fw-extra-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-medium {
  font-weight: var(--fw-medium);
}

.fs-heading-primary {
  font-size: var(--fs-heading-primary);
  line-height: 1;
}
.fs-heading-secondary {
  font-size: var(--fs-heading-secondary);
  line-height: 1.2;
}
.fs-heading-accent {
  font-size: var(--fs-heading-accent);
}

.padding-block-100 {
  padding-block: var(--size-100);
}
.padding-block-200 {
  padding-block-end: var(--size-200);
}
.padding-block-300 {
  padding-block-start: var(--size-300);
}
.padding-block-500 {
  padding-block-start: var(--size-500);
}
.padding-block-400 {
  padding-block: var(--size-400);
}
.padding-block-700 {
  padding-block-start: var(--size-700);
}
.padding-block-800 {
  padding-block-end: var(--size-800);
}

.padding-block-start {
  padding-block-start: var(--card-size-400);
}

.margin-block-start {
  margin-block-start: var(--card-size-500);
}

.padding-block-end {
  padding-block-end: var(--card-size-300);
}

.padding-inline-start {
  padding-inline-start: var(--card-size-200);
}

.padding-inline-end {
  padding-inline-end: var(--card-size-100);
}

.box-shadow-1 {
  box-shadow: 0 25px 50px hsl(233deg 92% 29% / 4.42%);
}

/* CONTAINER */
.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

:where(.flow :not(:first-child)) {
  padding-block-end: var(--size-200);
  padding-block-start: var(--size-300);
}

:where(.block-flow :not(:first-child)) {
  padding-block-start: var(--size-100);
  padding-block-end: var(--size-200);
}

/* GRID */
.event-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 48em) {
  .event-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.full-columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

/* GENERAL STYLING */
body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-600);
  overflow-x: hidden;
}

p:not([class]) {
  font-size: var(--fs-300);
  color: var(--clr--neutral-400);
  line-height: 26px;
  max-width: 33ch; /*33 bick*/
}

p[data-width="wide"] {
  max-width: 42ch;
}

a {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  color: var(--clr-accent-900) !important;
}

/* BUTTON */
.button {
  border: none;
  border-radius: 300vmax;
  padding: 0.563em 1.438em;
  line-height: 28px;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-600);
  cursor: pointer;
  transition: 0.5s;
}

.button[data-type="inverted"] {
  background: var(--clr-linear-400);
}

.button[data-type="footer"] {
  background: var(--clr-linear-900);
}

.button[data-type="inverted"]:hover {
  background: var(--clr-linear-100), var(--clr-linear-400);
}
.button[data-type="footer"]:hover {
  background: var(--clr-linear-100), var(--clr-linear-900);
}
.button:hover,
.button:focus-visible {
  background-color: var(--clr--neutral-600);
}

@media (min-width: 75em) {
  .button {
    padding: 0.875em 2em;
    font-size: var(--fs-400);
  }
}

/* HEADER */
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HERO */

.hero-image {
  margin-inline: auto;
}

@media (min-width: 768px) {
  /* .hero {
    height: 49vh;
  } */
  .hero-image {
    top: -27%;
    position: relative;
    z-index: -1;
    left: -2%;
  }

  .hero-image img {
    max-width: 200%;
  }
}

@media (min-width: 992px) {
  .hero {
    height: 82vh;
  }
  .hero-image {
    top: -27%;
    position: relative;
    z-index: -1;
    left: 0%;
  }

  /* .hero-image img {
    max-width: 160%;
  } */
}

/* @media (min-width: 1200px) {
  .hero {
    height: 100vh;
  }
} */

/* CARD */
@media (max-width: 700px) {
  li[data-card="card"] {
    padding-block-start: var(--size-200);
  }
}

ul li:not(:first-child) {
  position: relative;
}

ul li:not(:first-child)::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: left top;
  inset: -1.5rem 0 0 1.5rem;
  width: 56px;
  height: 56px;
}

@media (min-width: 48em) {
  ul li:nth-child(2) {
    margin-block-start: 0;
  }
}
@media (min-width: 75em) {
  ul li:nth-child(2),
  ul li:nth-child(3) {
    margin-block-start: 0;
  }
}

ul li:nth-child(2)::before {
  background-image: url("images/icon-animation.svg");
}

ul li:nth-child(3)::before {
  background-image: url("images/icon-design.svg");
}

ul li:nth-child(4)::before {
  background-image: url("images/icon-photography.svg");
}

ul li:nth-child(5)::before {
  background-image: url("images/icon-crypto.svg");
}

ul li:nth-child(6)::before {
  background-image: url("images/icon-business.svg");
}

li {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  border-radius: 15px;
}

a {
  margin-top: auto;
  align-self: flex-start;
}